@use "../scss/variables" as *;
@use "../scss/style.scss" as *;

/* =========================
   Room
========================= */
.room-info {
    text-align: center;
    margin-bottom: $space-md;
    font-size: $subtitle-font-size;
    opacity: $opacity_active;
}

/* =========================
   Players
========================= */
.players-section {
    margin-bottom: $space-md;
}

.players-list {
    list-style: none;
    padding-left: 0;

    li {
        background: $text-muted;
        padding: $space-sm;
        margin: $space-xs 0;
        border-radius: $radius-sm;
    }
}

/* =========================
   Czar
========================= */
.czar-label {
    font-size: $subtitle-font-size;
    text-align: center;
    margin-bottom: $space-md;
    font-weight: bold;
}
