@use "variables" as *;

@mixin button-base {
    padding: $space-sm $space-lg;
    margin: $space-xs;
    background: $primary-color;
    border: none;
    border-radius: $radius-pill;
    font-size: $subtitle-font-size;
    color: $text-color;
    cursor: pointer;
    transition: $transition-fast;

    &:hover {
        background: $primary-color-hover;
        transform: scale($scale-transform);
    }

    &:disabled {
        background: $border-color;
        cursor: not-allowed;
        opacity: $opacity_disabled;
    }
}