$primary-color: #673ab7;
$primary-color-hover: #5e35b1;

$bg-dark-1: #1e1e2f;
$bg-dark-2: #2c2c45;

$text-color: #fff;

$radius-sm: 4px;
$radius-md: 10px;
$radius-lg: 20px;
$radius-pill: 50px;

$transition-fast: 0.2s;
